# Núcleo numérico y gráficos
numpy==1.26.4
matplotlib==3.8.4

# Gymnasium + Box2D (LunarLander) y render
gymnasium==0.29.1
Box2D==2.3.10
box2d-py==2.3.5
pygame==2.6.1

# Grabación/exportación de video
imageio==2.36.0
imageio-ffmpeg==0.5.1

# RL / NN
tqdm==4.66.4
cma==3.2.2

# Notebooks / utilidades usadas
ipython==8.25.0
nbformat==5.10.4
